.card {
    margin-top: 20px !important;
    margin-left: 3px;
    margin-right: 3px;

}


.cardTitle {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #fff;
    border: none !important;
    background-color: #ffc600 !important;
}

.cardBody{
    padding-top: 25px !important;
}